---
title: Home
last_modified_at: 2022-08-22
---
<section class="posts">
	{% for post in paginator.posts %}
		<article class="post">
			{% include post-heading.html post=post %}

			{% if forloop.first == true and paginator.page == 1 %}
				<div class="image">
					<picture>
						<source srcset="{{ site.baseurl }}{{ post.featured_image | replace: ".jpg", ".webp" | replace: ".png", ".webp" }}" type="image/webp">
						<source srcset="{{ site.baseurl }}{{ post.featured_image }}" type="image/jpeg">
						<img src="{{ site.baseurl }}{{ post.featured_image }}" alt="{{ post.title }}">
					</picture>
				</div>
			{% else %}
				<div class="recipes">
						<div class="recipe" style="background-image: url('{{ post.featured_image }}')">
							<a href="{{ site.baseurl }}{{ post.url }}"><span>...</span></a>
						</div>
				</div>
			{% endif %}

			{{ post.excerpt }}

			<p><a class="button" href="{{ site.baseurl }}{{ post.url }}">Read more</a></p>
		</article>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</section>
