<aside class="sidebar {% if page.push_sidebar_down %}push{% endif %}">
	<div class="author">
		<p>
			<a href="{{ site.baseurl }}/about/">
				<picture>
				  <source srcset="{{ site.baseurl }}{{ site.data.sidebar.author_image_webp }}" type="image/webp">
				  <source srcset="{{ site.baseurl }}{{ site.data.sidebar.author_image }}" type="image/jpeg">
				  <img src="{{ site.baseurl }}{{ site.data.sidebar.author_image }}"  alt="author" class="author" style="aspect-ratio: auto 200 / 101; width: 100%;">
				</picture>
			</a>
		</p>
		<p>{{ site.data.sidebar.description_markdown | markdownify }}</p>
	</div>

	<br/>
	<h3 style="text-align: center;">What you looking for?</h3>
	<p style="text-align: center;"><a href="{{ site.baseurl }}/" >Home</a></p>
	<p style="text-align: center;"><a href="{{ site.baseurl }}/recipes" >Recipes</a></p>
	<p style="text-align: center;"><a href="{{ site.baseurl }}/science" >Science</a></p>
	<p style="text-align: center;"><a href="{{ site.baseurl }}/reviews" >Reviews</a></p>
	<p style="text-align: center;"><a href="{{ site.baseurl }}/about" >About</a></p>

	{% if site.newsletter_action && site.newsletter_action!=""%}<form action="{{ site.newsletter_action }}" method="post">
		<h3>Newsletter</h3>
		<p>Get my latest recipes sent straight to your inbox.</p>
		<input type="text" name="EMAIL" placeholder="Email address">
		<input type="submit" value="Sign up">
	</form>
	{% endif %}
</aside>
